.profile__info {
    display: grid;
    margin: auto 0;
    grid-template-columns: minmax(min-content, min-content) minmax(min-content, min-content);
    column-gap: 18px;
    row-gap: 16px;
    text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
  .profile__info {
      width: 100%;
      grid-template-columns: 24px auto 24px;
      row-gap: 10px;
      column-gap: 10px;
      justify-content: center;
      margin-bottom: 36px;
  }
}

