.popup__input-error {
    opacity: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    top: 100%;
    margin-top: 5px;
}
