.popup__label {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 35px;
 }

 @media screen and (max-width: 550px) {
        .popup__label {
                max-height: 27px;
        }
 }