.popup__user {
    border: 0;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
    padding: 0 0 9px 0;
    margin-bottom: 30px;
}
.popup__user:focus {
    outline: none;
}

.popup__user:last-of-type {
    margin-bottom: 48px;
}

@media screen and (max-width: 550px) {
    .popup__user {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {
    .popup__user:last-of-type {
        margin-bottom: 45px;
    }
}