.header {
    max-width: 880px;
    margin-top: 0;
    margin-left: 200px;
    margin-right: 200px;

}

@media screen and (max-width: 1100px) {
    .header {
        margin-left: 136px;
        margin-right: 136px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        margin: 0;
    }
  }