.footer__copyright {
    max-width: 318px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-top: 0;
    margin-left: 0;
}

@media screen and (max-width: 550px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
    }
  }