.profile__add-button {
    background-image: url(../../../images/profile/add_button.svg);
    border: 2px solid #fff;
    width: 150px;
    height: 50px;
    margin: auto 0;
    justify-self: end;
    background-position: center;
    grid-column: 3/4;
    background-color: transparent;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1100px) {
    .profile__add-button {
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .profile__add-button {
        width: 100%;
        justify-self: center;
        grid-column: 1/2;
        padding: 0;
    }
}

@media screen and (max-width: 550px) {
    .profile__add-button {
        background-size: 16px 16px;
    }
}