.profile__user-name {
    max-width: 294px;
    color: #FFFFFF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 700px) {
    .profile__user-name {
        grid-column: 2/3;
    }
}

@media screen and (max-width: 550px) {
    .profile__user-name {
        font-size: 27px;
        line-height: 33px;
    }
}